@import "_config.scss";

// -------------------------------------------------------------------
// BOX ELEMENT
// -------------------------------------------------------------------

.box {
    position: relative;
    width: 96%;
    max-width: 640px;
    margin: 0 auto;
    text-align: left;
    background: #111;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
         box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    overflow: hidden;
}

.box .title {
    position: relative;
    width: 100%;
    padding: 10px 40px 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    @include font-render(22px, $color-base, 400,$font-alt);

    @include mobile {
        padding-left: 10px;
        font-size: 16px;
    }
}

.box .title .close {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    background: #333;
    margin: auto;
    display: block;
    text-align: center;
    @include font-render(18px, $color-base, 400,$font-base);

    @include mobile {
        right: 10px;
    }
}

.box .content {
    background: #222;
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}