@import "_config.scss";

// -------------------------------------------------------------------
// FAVORITOS
// -------------------------------------------------------------------

.favorites ul {
    background: #222;
    font-size: 0;
}


.favorites ul li {
    position: relative;
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    border-top: 1px solid #333;
    font-size: 0;
    background: #222;
    -webkit-transition: background 200ms ease;
    -o-transition: background 200ms ease;
    -moz-transition: background 200ms ease;
    transition: background 200ms ease;
}

.favorites ul li:first-child {
    border-top: 0;
}

.favorites ul li:hover {
    background: #333;
}



// -------------------------------------------------------------------
// LISTA ITEM
// -------------------------------------------------------------------

// MUSICA
.favorites ul li .music {
    display: table-cell;
    vertical-align: middle;
    width: 85%;
    padding: 10px 10px 10px 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;

    @include tablet {
        padding: 5px 5px 5px 40px;
    }

    @include mobile {
        padding: 5px 5px 5px 40px;
    }
}

.favorites ul li .music:before {
    content: '♪';
    position: absolute;
    left: 0;
    width: 40px;
    height: 100%;
    margin: auto;
    text-align: center;
    @include font-render(26px, $color-base, 400);
}

.favorites ul li .music .track {
    display: block;
    @include font-render(16px, $color-base, 400);

    @include mobile {
        font-size: 14px;
    }
}

.favorites ul li .music .artist {
    display: block;
    @include font-render(14px, #999, 400);

    @include mobile {
        font-size: 12px;
    }
}

.favorites ul li .music .artist i {
    color: #666;
}

// FAVORITOS
.favorites ul li .removeFavorites {
    display: table-cell;
    vertical-align: middle;
    width: 15%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    margin: auto;
    text-align: center;
    @include font-render(34px, #C30000, 400);
    -webkit-transition: color 200ms ease,font-size 100ms ease;
    -o-transition: color 200ms ease,font-size 100ms ease;
    -moz-transition: color 200ms ease,font-size 100ms ease;
    transition: color 200ms ease,font-size 100ms ease;
    cursor: pointer;

    @include mobile {
        font-size: 22px;
    }
}

.favorites ul li .removeFavorites:hover {
    color: $color-base;
    font-size: 26px;
}