@import "_config.scss";

// -------------------------------------------------------------------
// HEADER
// -------------------------------------------------------------------

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 80px;
    background: #000;
    margin: 0 auto;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
         box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);

    @include tablet {
        height: 65px;
    }

    @include mobile {
        height: 50px;
    }
}

header .logo {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    @include font-render(32px, $color-base, 400, $font-alt);

    @include tablet {
        font-size: 28px;
    }

    @include mobile {
        font-size: 22px;
    }
}

header .login {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    @include font-render(14px, $color-base, 700);
    cursor: pointer;

    @include mobile {
        font-size: 0;
    }
}

header .logout {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    @include font-render(14px, $color-base, 700);
    cursor: pointer;

    @include mobile {
        font-size: 0;
    }
}


header .favorites {
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
    text-align: right;
    @include font-render(14px, $color-base, 700);
    cursor: pointer;

    @include mobile {
        font-size: 0;
    }
}

header a {
    -webkit-transition: color 100ms ease;
    -o-transition: color 100ms ease;
    -moz-transition: color 100ms ease;
    transition: color 100ms ease;
}

header a:hover {
    color: #999;
}


header .icon {
    position: relative;
    top: -2px;
    display: inline-block;
    vertical-align: middle;
    line-height: 120%;
    padding-left: 10px;
    @include font-render(24px, "inherit", 400);
}
