@import "_config.scss";

// -------------------------------------------------------------------
// LISTA DE MUSICAS
// -------------------------------------------------------------------

.list {
    position: relative;
    width:96%;
    max-width: 640px;
    margin: 0 auto;
    text-align: left;
    background: #111;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
}

.list .title {
    width:100%;
    padding:20px;
    box-sizing: border-box;
    @include font-render(16px, $color-base, 700);
    
    @include tablet {
        padding:15px;
    }

    @include mobile {
        padding:10px;
        font-size:14px;
    }
}

// -------------------------------------------------------------------
// LISTA
// -------------------------------------------------------------------

.list ul {
    background: #222;
    font-size:0;
}


.list ul li {
    position: relative;
    display: table;
    width:100%;
    box-sizing: border-box;
    border-top:1px solid #333;
    font-size:0;
    background: #222;
    transition:background 200ms ease;
}

.list ul li:first-child {
    border-top: 0;
}

.list ul li:hover {
    background: #333;
}



// -------------------------------------------------------------------
// LISTA ITEM
// -------------------------------------------------------------------

// MUSICA
.list ul li .music {
    display: table-cell;
    vertical-align:middle;
    width:85%;
    padding:10px 10px 10px 40px;
    box-sizing: border-box;
    
    @include tablet {
        padding:5px 5px 5px 40px;
    }

    @include mobile {
        padding:5px 5px 5px 40px;
    }
}

.list ul li .music:before {
    content:'♪';
    position: absolute;
    left:0;
    width: 40px;
    height: 100%;
    margin:auto;
    text-align: center;
    @include font-render(26px, $color-base, 400);
}

.list ul li .music .track {
    display:block;
    @include font-render(16px, $color-base, 400);
    
    @include mobile {
        font-size: 14px;
    }
}

.list ul li .music .artist {
    display:block;
    @include font-render(14px, #666, 400);
    
    @include mobile {
        font-size: 12px;
    }
}


// FAVORITOS
.list ul li .addFavorites {
    display: table-cell;
    vertical-align:middle;
    width:15%;
    height:100%;
    box-sizing: border-box;
    margin:auto;
    text-align: center;
    @include font-render(26px, $color-base, 400);
    transition:color 200ms ease,font-size 100ms ease;
    cursor: pointer;
    
    @include mobile {
        font-size: 22px;
    }
}

.list ul li .addFavorites:hover {
    color:#C30000;
    font-size: 34px;
}
