@import "_config.scss";

// -------------------------------------------------------------------
// SHOW DA MUSICA
// -------------------------------------------------------------------

.show .music {
    background: #222;
    display: table;
    width: 100%;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}


// CAPA
.show .cover {
    display: table-cell;
    vertical-align: middle;
    width: 200px;

    @include mobile {
        width: 100px;
    }
}

.show .cover .record {
    position:relative;
    width: 200px;
    height: 200px;
    border: 2px solid #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: -webkit-repeating-radial-gradient(#000 0%, #010101 2%, #101010 3%);
    background: -moz-repeating-radial-gradient(#000 0%, #010101 2%, #101010 3%);
    background: -o-repeating-radial-gradient(#000 0%, #010101 2%, #101010 3%);
    background: repeating-radial-gradient(#000 0%, #010101 2%, #101010 3%);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
         box-shadow: 0 0 10px rgba(0, 0, 0, .5);

    @include mobile {
        width: 100px;
        height: 100px;
    }
}

.show .cover .record:before,
.show .cover .record:after {
    content: "";
    position: absolute;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
}

.show .cover .record:before {
    height: 30%;
    width: 30%;
    background: #999;
    border: 2px solid #fff;
}

.show .cover .record:after {
    height: 5%;
    width: 5%;
    background: #222;
}


// DETALHES
.show .music .details {
    display: table-cell;
    vertical-align: middle;
    padding-left: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;

    @include tablet {
        padding-left: 30px;
    }

    @include mobile {
        padding-left: 20px;
    }
}

.show .music .details .num {
    display: block;
    @include font-render(14px, $color-base, 400);
}

.show .music .details .track {
    display: block;
    @include font-render(48px, #AAA, 700);
    line-height: 100%;
    padding-bottom: 4%;

    @include tablet {
        font-size: 34px;
    }

    @include mobile {
        font-size: 26px;
    }
}

.show .music .details .artist {
    display: block;
    @include font-render(24px, #999, 400);
    line-height: 100%;
    padding-bottom: 4%;

    @include tablet {
        font-size: 20px;
    }

    @include mobile {
        font-size: 18px;
    }
}

.show .music .details .album {
    display: block;
    @include font-render(18px, #666, 400);
    line-height: 100%;
    padding-bottom: 5%;

    @include mobile {
        font-size: 16px;
    }
}


// FAVORITOS
.show .music .details .addFavorites {
    display: block;
    text-align: left;
    @include font-render(12px, #999, 400);
    line-height: 100%;
    cursor: pointer;
}

.show .music .details .addFavorites .icon {
    position: relative;
    top: -2px;
    display: inline-block;
    vertical-align: middle;
    line-height: 120%;
    padding-right: 10px;
    @include font-render(24px, $color-base, 400);
    -webkit-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    transition: color 200ms ease;
}

.show .music .details .addFavorites:hover .icon {
    color: #C30000;
}