@import "_config.scss";

// -------------------------------------------------------------------
// SHOW DA MUSICA
// -------------------------------------------------------------------

.show {
    position: relative;
    width:96%;
    max-width: 640px;
    margin: 0 auto;
    text-align: left;
    background: #111;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
}

.show .title {
    position: relative;
    width:100%;
    padding:20px 40px 20px 20px;
    box-sizing: border-box;
    @include font-render(16px, $color-base, 700);
    
    @include tablet {
        padding:15px 40px 15px 15px;
    }

    @include mobile {
        padding:10px 40px 10px 10px;
        font-size:14px;
    }
}

.show .title .close {
    position: absolute;
    top:0;
    bottom:0;
    right:20px;
    width:30px;
    height:30px;
    line-height:28px;
    border-radius: 15px;
    background: #333;
    margin:auto;
    display:block;
    text-align: center;
    @include font-render(18px, $color-base, 400);
}
// -------------------------------------------------------------------
// MUSICA
// -------------------------------------------------------------------

.show .music {
    background: #222;
    display:table;
    width:100%;
    padding:20px;
    box-sizing: border-box;
}


// CAPA
.show .cover {
    display: table-cell;
    vertical-align:middle;
    width:200px;
    
    @include mobile {
        width: 100px;
    }
}

.show .cover .record {
    width:200px;
    height: 200px;
	border: 2px solid #333;
	box-sizing: border-box;
	border-radius: 50%;
	background: repeating-radial-gradient(#000 0%, #010101 2%, #101010 3%);
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    will-change: transform;

    @include mobile {
        width: 100px;
        height: 100px;
    }
}

.show .cover .record:before,
.show .cover .record:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.show .cover .record:before {
	height: 30%;
	width: 30%;
	background: #999;
	border: 2px solid #fff;
}

.show .cover .record:after {
	height: 5%;
	width: 5%;
	background: #222;
}


// DETALHES
.show .music .details {
    display: table-cell;
    vertical-align:middle;
    padding-left: 40px;
    box-sizing: border-box;
    
    @include tablet {
        padding-left: 30px;
    }

    @include mobile {
        padding-left: 20px;
    }
}

.show .music .details .num {
    display:block;
    @include font-render(14px, $color-base, 400);
}

.show .music .details .track {
    display:block;
    @include font-render(48px, #999, 700);
    line-height: 100%;
    padding-bottom:4%;
    
    @include tablet {
        font-size: 34px;
    }

    @include mobile {
        font-size: 26px;
    }
}

.show .music .details .artist {
    display:block;
    @include font-render(24px, #666, 400);
    line-height: 100%;
    padding-bottom:4%;
    
    @include tablet {
        font-size: 20px;
    }

    @include mobile {
        font-size: 18px;
    }
}

.show .music .details .album {
    display:block;
    @include font-render(18px, #333, 400);
    line-height: 100%;
    padding-bottom:5%;
    
    @include mobile {
        font-size:16px;
    }
}


// FAVORITOS
.show .music .details .addFavorites {
    display: block;
    text-align: left;
    @include font-render(12px, $color-base, 400);
    line-height: 100%;
    cursor: pointer;
}

.show .music .details .addFavorites .icon {
    position: relative;
    top:-2px;
    display:inline-block;
    vertical-align: middle;
    line-height: 120%;
    padding-right: 10px;
    @include font-render(24px, $color-base, 400);
    transition:color 200ms ease;
}

.show .music .details .addFavorites:hover .icon {
    color:#C30000;
}
